@import "../../vars.css";


.userContariner{
 display: flex;
 flex-direction: column;
 align-items: start;
 background-color: #ffff;
 min-height: 100vh;
  padding: 20px;
  gap: 15px; 
  overflow-y: auto;
}



.mensajeP{
   color: rgb(0, 0, 0);
   position: absolute;
   left: 34%;
   border: 2px solid rgba(64, 62, 62, 0.5);
   padding: 40px;
   border-radius: 5px;

}


.userContariner button{
   width: 200px;
   height: 100px;    
   margin-bottom: 10px;
   margin-top: 10px;
   margin-left: 10px;
      background: transparent;
   border: 2px solid rgba(64, 62, 62, 0.5);
  font-size: small;
  border-radius: 10px;
}

.mensajeP2{
     color: rgb(0, 0, 0);
   position: absolute;
   left: 34%;
   border: 2px solid rgba(64, 62, 62, 0.5);
   padding: 40px;
   border-radius: 5px;
   bottom: 49%;
}

.mensaje4{ 

position: absolute;
left: 40%;
 margin-top: 20px;
  padding: 15px;
  border: 2px solid rgba(64, 62, 62, 0.3);
  border-radius: 10px;
  background-color: #f9f9f9;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;

} 

.mensaje5{ 
   list-style: none;
    list-style: none;
  margin: 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid rgba(64, 62, 62, 0.2);
  border-radius: 8px;
  color: #222;
  font-size: 0.95rem;
  display: flex;
  justify-content: space-between;
} 


.userContariner button:hover {
  background: rgba(82, 82, 82, 0.1);
}

.BoxPassword{
   border: 2px double rgba(81, 81, 81, 0.5);
  position: absolute;
  right: 30%;  
  bottom: 20%;
  width: 390px;
  height: 350px;
  padding: 10px;
  border-radius: 6px;
}

.inputField{
   height: 40px;
   width: 100%;
   margin-top: 20px;
   position: relative;
}

.inputField input{
  width: 100%;
    height: 100%;
    font-size: 0.95rem;
    border-radius: 3px;
    outline: none;
    padding:  0 15px;
     border: 2px double rgba(89, 89, 89, 0.5);
    border-radius: 10px;
    padding-top: 8px; 
}

.inputField label{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    pointer-events: none;
    transition: 0.2s ease;

}

.inputField input:focus~label,
 .inputField input:not(:placeholder-shown)~label{
   top: 10px;
   font-size: 0.70rem;
   color: #576cbc;
   
}




.inputField input:focus{
    border-color: #576cbc;
    color: #000000 !important;
}

.inputField label{
  color:rgba(37, 36, 36, 0.5);
}


.btn1{
 width: 200px !important;
 margin-left: 70px !important;
 height: 40px !important;
 margin-top: 20px !important;
 border: none !important;
 background-color: #576cbc !important;
 color: #f9f9f9 !important;
 border-radius: 0% !important;
 padding: 5px !important;
}

.btn1:hover{
 background-color: #233475 !important;
}


.BoxPassword h3{
  margin-bottom: 10px;
   color: rgba(28, 28, 28, 0.5);
}

.BoxPassword p{
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.5);
  font-size: small;
}

.mensajeP34{
  position: absolute;
}